@import "~sass/lib";

:host {
  @extend %app-defaults;

  div {
    flex-direction: row;

    img {
      width: 125px;
      height: 125px;
    }

    div {
      justify-content: flex-start;
      align-items: center;
    }

    .hidden {
      display: none;
    }

    h1, img {
      cursor: pointer;
    }

    @include media-medium() {
      img {
        width: 75px;
        height: 75px;
      }

      h1 {
        font-size: 18px;
      }
    }
  }
}
