@import "~sass/lib";

:host {
  @extend %app-defaults;

  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  margin-left: 10%;
  margin-right: 10%;

  h1 {
    width: 100%;
    text-align: center;
  }

  .github-alternative {
    justify-content: center;
    text-align: center;
    background-color: colorSecondary();
    border-radius: 3px;
    padding: 20px;

    h2 {
      color: colorForegroundInverted();
      padding-right: 25%;
      padding-left: 25%;
    }
    p {
      margin-top: 10px;
      color: colorAccent();
      font-size: -3em;
    }
  }

}
